/build
/.metadata
/home/workspace/jove-timesheet/RemoteSystemsTempFiles
/home/workspace/jove-timesheet/teste
/home/workspace/jove-timesheet/.metadata
/home/workspace/jove-timesheet/README.md
/home/workspace/jove-timesheet/.git
