* {
	margin: 0;
	padding: 0;
	font-family: verdana, arial, sans-serif;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

#corpo-pagina {
	width: 100%;
	position: absolute;
	top: 77px;
	bottom: 42px;
}

#pagina {
	overflow: auto;
	width: 100%;
	height: 100%;
}

/*===================================
Configuração do Menu
=====================================*/
#header {
	height: 75px;
	width: 100%;
	background: #eee;
	box-shadow: 0 2px 2px #777;
	position: fixed;
	z-index: 30;
	top: 0;
}

/* Configuração div do cabeçalho esquerdo */
#div-header-esquerda {
	width: 12.5em;
	height: 75px;
	float: left;
}

#div-logo {
	float: left;
	width: 8em;
	margin: 5px 0 0 0;
}

.logo-header {
	width: 100%;
	height: 70px;
}

#divisor-header {
	height: 65px;
	width: 1.5px;
	float: left;
	margin: 5px 0;
	background: #fff;
}

/* Configuração div do cabeçalho direito */
#div-header-direita {
	height: 75px;
}

#menus-header {
	height: 40px;
	margin: 35px 5px 0 0;
	float: right;
}

#menus-header ul li {
	float: left;
	list-style: none;
}

#menus-header a,.divisor-menus {
	float: left !important;
	text-decoration: none;
	list-style: none;
	color: #555;
}

#menus-header a:hover {
	color: #f89117;
	border-bottom: 0.2em solid;
	margin: -10px 0 0;
	font: bold;
	transition: all 0.2s linear;
}

.divisor-menus {
	width: 2px;
	height: 16px;
	text-align: center;
	line-height: 16px;
	background: #555;
	margin: 12px 0 12px;
}

.menu-label {
	width: auto !important;
	height: 40px;
	padding: 0 1em;
	line-height: 40px;
	text-align: center;
	font-family: arial, verdana, sans-serif;
	font-size: 1em;
	transition: all 0.2s linear;
}

/*===================================
Configuração do container
=====================================*/
#container {
	width: 1006px;
	min-height: 550px;
	padding: 10px 0;
	margin: 0 auto 45px auto;
}

/* Configuração do Titulo */
#titulo-pagina {
	height: 25px;
	color: #f89117;
	line-height: 25px;
	text-align: center;
	margin-bottom: 15px;
}

#titulo-esquerda{
	height: 25px;
	line-height: 25px;
	font-size: 21px;
	float: left;
}

#icon-titulo{
	height: 24px;
	width: 24px;
}

#titulo-none{
	height: 25px;
	margin: -25px 0 0 36px;
}

#div-usuario-logado {
	height: 20px;
	color: #111;
	font-size: 12px;
	float: right;
}

/*===================================
Configuração pagina cadastro
=====================================*/
#form-pagina-cadastro {
	margin-top: 10px;
	font-size: 14px;
}

/* Configuração dos campos */
#tabview-cadastro {
	font-size: 10px !important;
}

#formulario-cadastro-simples {
	width: 550px;
	margin: 30px auto 0 auto;
	font-size: 14px;
}

#formulario-cadastro-completo {
	width: 950px;
	margin: 30px auto 0 auto;
	font-size: 14px;
}

.label-cadastro-simples {
	width: 200px;
	margin: 10px 5px;
	height: 20px;
	line-height: 20px;
}

.input-cadastro-simples {
	width: 330px;
	margin: 10px 5px;
	height: 20px;
}

.textarea-cadastro-simples {
	width: 330px;
	margin: 0 5px;
	height: 105px;
}


/*=================================================== 
   Configurações genericas para colunas do panelGrid
===================================================== */
.coluna-5-fit {
	width: 5%;
}

.coluna-10 {
	width: 10%;
	padding-right: 10px;
}

.coluna-15 {
	width: 15%;
	padding-right: 10px;
}

.coluna-20 {
	width: 20%;
	padding-right: 10px;
}

.coluna-25 {
	width: 25%;
	padding-right: 10px;
}

.coluna-30 {
	width: 30%;
	padding-right: 10px;
}

.coluna-35 {
	width: 35%;
	padding-right: 10px;
}

.coluna-40 {
	width: 40%;
	padding-right: 10px;
}

.coluna-45 {
	width: 45%;
	padding-right: 10px;
}

.coluna-50 {
	width: 50%;
	padding-right: 10px;
}

.coluna-55 {
	width: 55%;
	padding-right: 10px;
}

.coluna-60 {
	width: 60%;
	padding-right: 10px;
}

.coluna-65 {
	width: 65%;
	padding-right: 10px;
}

.coluna-70 {
	width: 70%;
	padding-right: 10px;
}

.coluna-75 {
	width: 75%;
	padding-right: 10px;
}

.coluna-80 {
	width: 80%;
	padding-right: 10px;
}

.coluna-85 {
	width: 85%;
	padding-right: 10px;
}

.coluna-90 {
	width: 90%;
	padding-right: 10px;
}

.coluna-90-fit {
	width: 90%;
}

.coluna-95-fit {
	width: 95%;
}

.border-coluna {
	border: 1px solid blue;
}

/* Outras para definição do posicionamento dentro da tr */
.coluna-position-center-15 {
	width: 15%;
	text-align: center;
}

.coluna-position-top-40 {
	width: 40%;
	vertical-align: baseline;
	padding-right: 10px;
}

.coluna-position-center-40 {
	width: 40%;
	vertical-align: middle;
	padding-right: 10px;
}


/*==================================
 Configurações botões cadastro
 =================================== */
.botoes-tela-cadastro {
	height: 50px;
	margin: 15px 10px;
	float: right;
}

.btn-cadastro {
	margin: 0 5px;
	font-size: 14px !important;
	color: #f89117 !important;
}

.btn-cadastro :hover {
	color: #0088CC;
}

/*==================================
 Configuração daa tabelas de cadastro
 =================================== */
.table-cadastro {
	margin: 100px auto 50px auto;
	width: 1000px;
	font-size: 13px;
}

.select-one-button-cadastro {
	margin: 0 auto;
	font-size: 10px !important;
}

.panel-form-cadastro{
	width: 100%;
	margin: 10px 0;
}


/*===================================
Configuração da pagina de registro
=====================================*/
#fildset-registro{
	min-height: 500px !important;
	font-size: 14px !important;
	clear: both;
}

#navegador-registro{
	width: 100%;
	/* margin-bottom: -35px; */
}

#botoes-navegacao-registro{
	float: right;
	width: 100px;
}

#formulario-registro{
	margin: 10px 0;
	height: 75px;
	width: 100%;
}

#lado-direito{
	width: 600px;
	height: 75px;
	float: left;
}

#lado-esquerdo{
	width: 350px;
	height: 75px;
	float: left;
}

#btn-inserir{
	color: #f89117;
	width: 90px;
	height: 28px;
	margin: 32px 10px 0 0; 
	float: left;
}

#btn-inserir:hover{
	color: #0088cc;
}

#check-almoco{
	height: 27px;
	margin: 37px 0 0 10px;
}

#botao-calendario{
	color: #f89117;
	float:left;
	height: 28px;
	margin-top: 32px;
}

#botao-calendario:hover{
	color: #0088cc;
}

#table-registro{
	margin-top: 25px;;
	font-size: 16px; 
}

#table-registro th{
	font-size: 12px;
}

#table-registro tr{
	font-size: 12px;
}

/* Configuração do calendario */
#modal-calendario-registro{
	font-size: 16px;
}

#calendario-registro{
	width: 1000px;
	height: 600px;
}


/*===================================
Configuração Footer
=====================================*/
#footer {
	width: 100%;
	height: 40px;
	background: #eee;
	position: fixed;
	bottom: 0;
	font-family: verdana, arial, sans-serif, bold;
	color: #6f6f6f;
	box-shadow: -2px 0 4px 1px #777;
}

#div-slogan-footer {
	height: 40px;
}

#logo-jove-footer {
	background: url("../images/layout/jove-logo-mini.png") no-repeat
		!important;
	width: 53px;
	height: 32px;
	margin: 4px 0 0 5px;
}

#div-slogan-footer p {
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 0.7em;
	float: left;
	margin: -34px 0 0 72px;
}

#div-versao {
	float: right;
}

#div-versao p {
	width: 20em;
	height: 24px;
	line-height: 24px;
	text-align: center;
	margin-top: -34px;
	font-size: 0.7em;
	float: right;
}