*{
	margin: 0;
	padding: 0;
	font-family: verdana, arial, sans-serif;
}

body{
	height: 100%;
}

/*===================================
Configuração do Menu
=====================================*/
#header{
	height: 75px;
	width: 100%;
	background: #eee;
	box-shadow: 0 2px 2px  #777;
	position: fixed;
	top: 0;
}

/* Configuração div do cabeçalho esquerdo */
#div-header-esquerda{
	width: 12.5em;
	height: 75px;
	float: left;
}

#div-logo{
	float: left;
	width: 8em;
	margin:5px 0 0 0;
}

.logo-header{
	width: 100%;
	height: 70px;
}

#divisor-header{
	height: 65px;
	width: 1.5px;
	float: left;
	margin: 5px 0 0 15%; 
	background: #fff;
}

/* Configuração div do cabeçalho direito */ 
#div-header-direita{
	height: 75px;
}

#menus-header{
	height: 40px;
	margin: 35px 5px 0 0;
	float: right;
}

#menus-header ul li{
	float: left;
	list-style: none;
}

#menus-header a, .divisor-menus{
	float: left !important;
	text-decoration: none;
	list-style: none;
	color: #555;
}

#menus-header a:hover{
	color: #f89117;
	border-bottom: 0.2em solid;
	margin: -10px 0 0;
	font: bold;
	transition: all 0.2s linear;
}
 
 .divisor-menus {
	width: 2px;
	height: 16px;
	text-align: center;
	line-height: 16px;
	background: #555;
	margin: 12px 0 12px;
}

.menu-label{
	width: auto !important;
	height: 40px;
	padding:  0 1em;
	line-height: 40px;
	text-align: center;
	font-family: arial, verdana, sans-serif; 
	font-size: 1em;
	transition: all 0.2s linear;
}



/*===================================
Configuração do container
=====================================*/
#container{
	width: 1006px;
	min-height: 550px;
	border-radius: 10px;
	padding: 10px;
	margin: 85px auto 45px auto;
	box-shadow: 0px 2px 2px 1px #777;
	/* border: 1px solid; */
}

/* Configuração do Titulo */
#titulo-pagina{
	height: 20px;
	color: 	#f89117;
	line-height: 20px;
	text-align: center;
}

#nome-titulo{
	width: 5em;
	height: 20px;
	font-size: 1.2em;
	margin-left: 20px;
	float: left;
}

#div-usuario-logado{
	width: 40em;
	height: 20px;
	color: #111;
	font-size: 0.7em;
	margin-right: 20px;
	float: right;
}

/* Configuração dos campos */

#formulario-cadastro{
	width: 900px;
	margin: 30px auto;
	font-size: 0.8em;
	
}

#div-campos-form{
	width: 500px;
	margin: 0 auto;
}

.campos-form-cadastro{
	height: 30px;
	line-height: 30px;
	text-align: left;
	margin: 10px 0; 
}

.campo-input-form-cadastro{
	margin-left: 10px;
	height: 20px;
	width: 20em;
}

.textarea-form-cadastro{
	width: 400px;
}



/*===================================
Configuração pagina cadastro
=====================================*/
#form-pagina-cadastro{
	margin-top: 10px;
	/* border-top: 1px solid; */
}

/*===================================
Configuração Footer
=====================================*/
#footer{
	width: 100%;
	height: 40px;
	background: #eee;
	position: fixed;
	bottom: 0;
	font-family: verdana, arial, sans-serif, bold;
	color: #6f6f6f;
	box-shadow: -2px 0 4px 1px #777;
}

#div-slogan-footer{
	height: 40px;
}

#logo-jove-footer{
	background: url("../images/layout/jove-logo-mini.png") no-repeat !important;
	width: 53px;
	height: 32px;
	margin: 4px 0 0 5px;
}

#div-slogan-footer p{
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 0.7em ;
	float: left;
	margin: -34px 0 0 72px;
}

#div-versao{
	float: right;
}

#div-versao p{
	width: 20em;
	height: 24px;
	line-height: 24px;
	text-align: center;
	margin-top: -34px;
	font-size: 0.7em;
	float: right;
}
