*{
	margin: 0;
	padding: 0;
}

body{
	height: 100%;
}

/*===================================
Configuração do Menu
=====================================*/
#header{
	height: 6.25em;
	width: 100%;
	background: #eee;
	box-shadow: 0 2px 2px  #777;
	position: fixed;
	top: 0;
}

#logo-header{
	float: left;
	width: 12.5em;
	height: 5.625em;
	margin: 0.625em 0 0 2em;
	background: url("../images/layout/jove-logo-160x80.png") no-repeat;
}

#divisor-header{
	height: 5em;
	width: 0.09375em;
	float: right;
	background: #fff;
	border: 0.0625em solid #fff;
}

#menus-header{
	width: 37.5em;
	height: 2.5em;
	margin: 3.4375em auto 0 auto;
}

#menus-header a, .divisor-menus{
	float: left !important;
	text-decoration: none;
	color: #555;
}

#menus-header a:hover{
	color: #f89117;
	border-bottom: 0.2em solid;
	margin: -10px 0 0;
	font: bold;
	transition: all 0.2s linear;
}

.divisor-menus {
	width: 0.001em;
	height: 1em;
	text-align: center;
	line-height: 1em;
	border: 0.1em solid;
	background: #fff;
	margin: 0.85em 0 0.65em;
}

.menu-registro{
	width: 5em !important;
	height: 2.5em;
	line-height: 2.5em;
	text-align: center;
	transition: all 0.2s linear;
}

.menu-cadastro{
	width: 5em !important;
	height: 2.5em;
	line-height: 2.5em;
	text-align: center;
	transition: all 0.2s linear;
}

.menu-acompanhamento{
	width: 10em !important;
	height: 2.5em;
	line-height: 2.5em;
	text-align: center;
	transition: all 0.2s linear;
}

.menu-relatorios{
	width: 6.25em !important;
	height: 2.5em;
	line-height: 2.5em;
	text-align: center;
	transition: all 0.2s linear;
}

.menu-meu-perfil{
	width: 6.25em !important;
	height: 2.5em;
	line-height: 2.5em;
	text-align: center;
	transition: all 0.2s linear;
}

#usuario-header{
	width: 15.625em;
	height: 6.25em;
	float: right;
	margin: -6.25em 1em;
	position: static;
}

#div-usuario-logado{
	width: 12.5em;
	height: 1.875em;
	margin: 0.3125em 0 0;
}

.usuario-logado{
	white-space: 5.625em;
	height: 1.875em;
	line-height: 1.875em;
	text-align: center;
	font: verdana;
	font-size: 0.8em;
	color: #555;
}

#div-menu-sair{
	width: 3.125em;
	height: 2.5em;
	margin: 1.875em 0 0 12.5em;
}

#div-menu-sair a:hover{
	color: #f89117;
	border-bottom: 0.1em solid;
	transition: all 0.2s ;
}


.menu-sair, a{
	width: 3.125em;
	height: 2.5em;
	line-height: 2.5em;
	text-align: center;
	text-decoration: none;
	font-size: 1em;
	color: #555;
}

/*===================================
Configuração do container
=====================================*/
#container{
	width: 1024px;
	min-height: 550px;
	border-radius: 10px;
	background: black;
	padding: 10px;
	margin: 120px auto 60px auto;
}

/*===================================
Configuração Footer
=====================================*/
#footer{
	width: 100%;
	height: 50px;
	background: #eee;
	position: fixed;
	bottom: 0;
	box-shadow: -2px 0px 4px 1px #777;
}

#footer-conteudo{
	
}